


<div class="container-fluid">
    <div class="row mt-1 py-1 text-light bg-primary">
        <span class="fs-5 cursor" routerLink="/medicine"><i class="bi bi-arrow-left me-4 ms-2 fs-4 mt-1"></i>Top Deals</span>
    </div>
    <div class="row mt-0 py-3 text-light bg-info text-center">
        <span class="fs-6">Showing Medicine Availability and Price in </span>
    </div>


    <div class="container mt-3">
        <h3 class="fw-300">Shop By Categories</h3>
        <div class="row" *ngFor="let product of topDealsByCategory">
            <div class="col-md-2 my-3">
                <div class="card" style="width: 15rem;height: 22rem;">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                        <h5 class="card-title">{{product.categoryName}}</h5>
                        <p class="card-text"><a class="fs-5 text-decoration-none">View All</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mx-5 my-3" *ngFor="let deal of product.top_deals">
                <div class="card" style="width: 15rem;height: 22rem;">
                    <div class="card-body d-flex align-items-center justify-content-center flex-column">
                        <img [src]="deal.productImageSlug[0]" [alt]="" [title]="deal.descriptionString" height="200"
                            width="200" routerLink="/productDisplay">
                        <div class="card-body" style="width: 15rem;height: 22rem;">
                            <h5 class="card-title text-desc" [title]="deal.description">{{deal.description}}</h5>
                            <p class="card-text text-muted">{{deal.type}}</p>
                            <p><span class="text-muted">MRP&nbsp;</span><span
                                    class="text-decoration-line-through">₹{{deal.discountPrice}}</span>&nbsp;<span>₹{{deal.actualPrice}}</span>
                                <button type="button" class="btn btn-outline-primary btn-sm ms-3 px-2" (click)="addToCart(deal)">ADD</button>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>