<div class="container p-2 ">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <!-- <a class="navbar-brand">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-75 m-auto d-felx  justify-content-around">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page">
                  <img src="../../../assets/images/Talk to doctor.png" class="m-auto" height="50" width="50">
                  <h6 class="mt-1">Talk To Doctor</h6>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/medicine">
                  <img src="../../../assets/images/medicine.png" class="m-auto" height="50" width="50">
                  <h6 class="mt-1">Medicines</h6>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page">
                  <img src="../../../assets/images/sergeryIcon.png" class="m-auto" height="50" width="50">
                  <h6 class="mt-1">Sergery</h6>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page">
                  <img src="../../../assets/images/appoinment.png" class="m-auto" height="50" width="50">
                  <h6 class="mt-1">Appoinment</h6>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page">
                  <img src="../../../assets/images/lab.jpg" class="m-auto" height="50" width="50">
                  <h6 class="mt-1">Lab Test</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>


<!-- consult with doctor -->

<div class="container shadow p-2 mt-2 w-75 border rounded-pill">
  <div class="d-flex justify-content-around">
      <h4 class="mt-2">Consult with Top Doctors Online, 24x7</h4>
      <p class="border rounded-pill p-3 px-2 mt-1">
          Start Consultation
      </p>
  </div>
</div>

<!-- carousels -->

<div class="container mt-1 py-4">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://views.medibuddy.in/websiteBanners/websitecustomer_banner.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://mb-meds-assets.medibuddy.in/banners/OTC-Store/upkarnaWebHomePage.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://views.medibuddy.in/homePageBanners/EaseBannerWeb.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://views.medibuddy.in/homePageBanners/diagonistic_centers.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</div>


<!--  -->
<div class="container mt-2 py-2 shadow">
  <img src="https://views.medibuddy.in/dynamic-banner/medibuddyHomeFirstFoldWebABHA.svg" alt="">
</div>

<!--  -->

<div class="container border border-3 mt-4 p-2">
  <div class="row">
      <div class="col-md-6">
          <h5>MediBuddy GOLD</h5>
          <h4>Give the care your family deserves</h4>
          <p class="fs-5 fw-bold">Unlimited Consultations with top Doctors for 6 family members in 22+ specialities and 16 languages</p>
          <button type="button" class="btn btn-warning px-5 p-2 rounded-pill">Buy MediBuddy GOLD</button>
      </div>
      <div class="col-md-6">
          <div class="row">
              <div class="col-md-5 d-flex justify-content-center">
                  <div class="card px-2 rounded-4" style="width: 16rem;">
                      <div class="row">
                          <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg" class="card-img-top" alt="..." width="125" height="125">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Unlimited Free Consultations</h5>
                        <p class="card-text">Get unlimited free consultations with all doctors <b>24x7</b> </p>
                      </div>
                    </div>
              </div>
              <div class="col-md-5 mt-4">
                  <div class="card px-2 rounded-4" style="width: 16rem;">
                      <div class="row">
                          <img src="https://www.medibuddy.in/assets/services/mb-gold/family.svg" class="card-img-top" alt="..." width="125" height="125">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Unlimited Free Consultations</h5>
                        <p class="card-text">Get unlimited free consultations with all doctors <b>24x7</b> </p>
                      </div>
                    </div>
              </div>
              <div class="col-md-5 mt-3">
                  <div class="card px-2 rounded-4" style="width: 16rem;">
                      <div class="row">
                          <img src="https://www.medibuddy.in/assets/services/mb-gold/free-health.svg" class="card-img-top" alt="..." width="125" height="125">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Unlimited Free Consultations</h5>
                        <p class="card-text">Get unlimited free consultations with all doctors <b>24x7</b> </p>
                      </div>
                    </div>
              </div>
              <div class="col-md-5 mt-5">
                  <div class="card px-2 rounded-4" style="width: 16rem;">
                      <div class="row">
                          <img src="https://www.medibuddy.in/assets/services/mb-gold/video-consultation.svg" class="card-img-top" alt="..." width="125" height="125">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Unlimited Free Consultations</h5>
                        <p class="card-text">Get unlimited free consultations with all doctors <b>24x7</b> </p>
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
</div>




