<div class="container">
    <div class="clearfix mt-4 p-2">
        <h4 class="float-start">Top Deals</h4>
       <h4  class="float-end"><a routerLink="/otcCategory">view All</a></h4>

    </div>

    <div class="row">
        <owl-carousel-o [options]="customOptions">
        
          <ng-container *ngFor="let deal of topDeals">
            <ng-template carouselSlide [id]="deal.id">
              <div class="card card-block" style="width: 18rem;">
                  <!-- <img src="..." class="card-img-top" alt="..."> -->
                  <img [src]="deal.productImageSlug[0]" [alt]="" [title]="deal.description" height="200" width="200" class="border border-2 p-2">
                  <div class="card-body">
                    <h5 class="card-title text-desc" [title]="deal.description">{{deal.description}}</h5>
                    <p class="card-text text-muted">{{deal.type}}</p>
                    <p><span class="text-muted">MRP &nbsp;</span><span class="text-decoration-line-through">₹{{deal.discountPrice}}</span> &nbsp;<span>₹{{deal.actualPrice}}</span>
                  <button type="button" class="btn btn-outline-primary btn-sm ms-5" (click)="addToCart(deal)">ADD</button>
                   </p>
                  </div>
                </div>
              
            </ng-template>
          </ng-container>
        
        </owl-carousel-o>

    </div>

</div>


